h1 {
  color: darkblue;
  text-align: center;
  background-color: white;
  margin-left: 500px;
  margin-right: 500px;
  padding: 10px;
}

body {
  background-color: rgb(53, 50, 50);
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  margin-left: 80px;
  margin-right: 80px;
  line-height: 1.6;
}

p {
  text-align: center;
}

title {
  font-size: large;
}

h2 {
  color: rgb(165, 165, 125);
}
